node_modules/
package/node_modules/
.expo/
dist/
public/
web-build/
expo-env.d.ts

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
.env*.local
*.tsbuildinfo
*.tgz

package/dist/
package/src/*.js
package/src/*.d.ts
package/src/*.d.ts.map
package/wave-loader-*.tgz

docs/build
docs/dist
app-example
